.p {
    font-weight: 800;
}
.texto {
    color: rgb(0, 242, 255);
}
.musica {
    color: #17d76a;
}
.Link {
    color: rgb(0, 0, 0);
}
.Spotify {
    color: rgb(237, 237, 237);
}
.avaliar {
    color: rgb(255, 255, 255);
}
.numeros {
    color: rgb(236, 199, 222);
}